.leaflet-control-layers-toggle:hover + .leaflet-control-layers-expanded {
    top: 100px;
    left: 100px;
}

.leaflet-control-layers-toggle {
    left: 40px;
    top: 40px;
    width: 30px !important;
    height: 30px !important;
}

.leaflet-control-layers {
    top: -80px;
    left: 5px;
    border: none !important;
}

.leaflet-control-zoom {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    top: 40px;
    left: 5px;
    display: flex;
    flex-direction: column;
}

.leaflet-control-zoom-in {
    margin-bottom: 5px;
  }
  
  .leaflet-control-zoom-out {
    margin-top: 5px;
  }

