.leaflet-control-layers-toggle {
    left: 0;
    top: 0;
    width: 30px !important;
    height: 30px !important;
}

/* .leaflet-control-layers-list{
    top: 50x;
    left: 50px;
} */
/* 
.leaflet-control-layers-list{
    top: 150px !important; 
    left: 150px !important;
    background-color: #000000;
} */

.leaflet-control-layers {
    top: -80px;
    left: 5px;
    border: none !important;
    position: relative !important;
}

.leaflet-control-zoom {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    top: 40px;
    left: 5px;
    display: flex;
    flex-direction: column;
}

.leaflet-control-zoom-in {
    margin-bottom: 5px;
  }
  
  .leaflet-control-zoom-out {
    margin-top: 5px;
  }

